<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="Fondo2">
        <div class="container text-center">
            <h1 id="MiTitulo">Ofertas</h1>
            <div class="row">
                <div class="col-sm-4" >
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="https://img.ltwebstatic.com/images2_pi/2018/08/31/1535703638636983588_thumbnail_600x799.webp" width="300px">
                            <h3 class="card-title">
                                Sudadera
                            </h3>
                            <h4><strong>$272.00 MXN</strong></h4>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_xclick">
                                <input type="hidden" name="business" value="noemivega1305@gmail.com">
                                <input type="hidden" name="lc" value="US">
                                <input type="hidden" name="item_name" value="Sudadera blanca">
                                <input type="hidden" name="item_number" value="001">
                                <input type="hidden" name="amount" value="272.00">
                                <input type="hidden" name="currency_code" value="MXN">
                                <input type="hidden" name="button_subtype" value="services">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="tax_rate" value="0.000">
                                <input type="hidden" name="shipping" value="0.00">
                                <input type="hidden" name="bn"
                                 value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                                <input type="image" 
                                src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" 
                                border="0" name="submit"
                                 alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" 
                                rc="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                            </form>
                                
                                
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="https://img.ltwebstatic.com/images3_pi/2020/07/03/15937577017c0dc736d9c012c644ea3299ef144bf1_thumbnail_600x.webp" width="300px">
                            <h3 class="card-title">
                                Pullover
                            </h3>
                            <h4><strong>$300.00 MXN</strong></h4>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_xclick">
                                <input type="hidden" name="business" value="noemivega1305@gmail.com">
                                <input type="hidden" name="lc" value="US">
                                <input type="hidden" name="item_name" value="Pullover">
                                <input type="hidden" name="item_number" value="002">
                                <input type="hidden" name="amount" value="300.00">
                                <input type="hidden" name="currency_code" value="MXN">
                                <input type="hidden" name="button_subtype" value="services">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="tax_rate" value="0.000">
                                <input type="hidden" name="shipping" value="0.00">
                                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                            </form>
                                
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="https://img.ltwebstatic.com/images2_pi/2019/08/16/15659438502462059532_thumbnail_600x799.webp" width="300px">
                            <h3 class="card-title">
                                Sudadera
                            </h3>
                            <h4><strong>$190.00 MXN</strong></h4>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_xclick">
                                <input type="hidden" name="business" value="noemivega1305@gmail.com">
                                <input type="hidden" name="lc" value="US">
                                <input type="hidden" name="item_name" value="Sudadera amarilla">
                                <input type="hidden" name="item_number" value="003">
                                <input type="hidden" name="amount" value="190.00">
                                <input type="hidden" name="currency_code" value="MXN">
                                <input type="hidden" name="button_subtype" value="services">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="tax_rate" value="0.000">
                                <input type="hidden" name="shipping" value="0.00">
                                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                            </form>
                                
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="https://img.ltwebstatic.com/images2_pi/2019/08/09/15653382824150333139_thumbnail_600x799.webp" width="300px">
                            <h3 class="card-title">
                                Vestido floral
                            </h3>
                            <h4><strong>$400.00 MXN</strong></h4>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_xclick">
                                <input type="hidden" name="business" value="noemivega1305@gmail.com">
                                <input type="hidden" name="lc" value="US">
                                <input type="hidden" name="item_name" value="Vestido floral">
                                <input type="hidden" name="item_number" value="004">
                                <input type="hidden" name="amount" value="400.00">
                                <input type="hidden" name="currency_code" value="MXN">
                                <input type="hidden" name="button_subtype" value="services">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="tax_rate" value="0.000">
                                <input type="hidden" name="shipping" value="0.00">
                                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                                </form>
                                
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="https://img.ltwebstatic.com/images3_pi/2020/05/11/15891781394482c129e0d40cf465840244104df5ff_thumbnail_600x.webp" width="300px">
                            <h3 class="card-title">
                                Conjunto top
                            </h3>
                            <h4><strong>$399.00 MXN</strong></h4>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_xclick">
                                <input type="hidden" name="business" value="noemivega1305@gmail.com">
                                <input type="hidden" name="lc" value="US">
                                <input type="hidden" name="item_name" value="Conjunto top">
                                <input type="hidden" name="item_number" value="005">
                                <input type="hidden" name="amount" value="399.00">
                                <input type="hidden" name="currency_code" value="MXN">
                                <input type="hidden" name="button_subtype" value="services">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="tax_rate" value="0.000">
                                <input type="hidden" name="shipping" value="0.00">
                                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                            </form>
                                
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="https://img.ltwebstatic.com/images3_pi/2020/01/14/1578990824952019d2bd811decccd26b93103c1267_thumbnail_600x.webp" width="300px">
                            <h3 class="card-title">
                                Chaqueta
                            </h3>
                            <h4><strong>$450.00 MXN</strong></h4>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_xclick">
                                <input type="hidden" name="business" value="noemivega1305@gmail.com">
                                <input type="hidden" name="lc" value="US">
                                <input type="hidden" name="item_name" value="Chaqueta">
                                <input type="hidden" name="item_number" value="006">
                                <input type="hidden" name="amount" value="450.00">
                                <input type="hidden" name="currency_code" value="MXN">
                                <input type="hidden" name="button_subtype" value="services">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="tax_rate" value="0.000">
                                <input type="hidden" name="shipping" value="0.00">
                                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                            </form>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <%- include('../partials/script'); %>
    <%- include('../partials/footer'); %>
    
  </body>
</html>