<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="Fondo3">
      <div class="container text-center" id="post">
        <h1 id="MiTitulo">Novedades</h1>
          <a href="https://www.pinterest.com/anapinskywalker/style/"
              data-pin-do="embedBoard"
              data-pin-board-width="1000"
              data-pin-scale-height="320"
              data-pin-scale-width="200">
          </a>
          <a href="https://www.pinterest.com/pin/535646949436692837/"
              data-pin-do="embedPin">
          </a>
          <a href="https://www.pinterest.com/pin/30821578688659072/" data-pin-do="embedPin">
          </a>
          <a href="https://www.pinterest.com/pin/8092474318616934/" data-pin-do="embedPin">
          </a>
          <a href="https://www.pinterest.com/pin/24769866690035554/" data-pin-do="embedPin">
          </a>
          <a href="https://www.pinterest.com/revistadondeir/moda/"
              data-pin-do="embedBoard"
              data-pin-board-width="1000"
              data-pin-scale-height="320"
              data-pin-scale-width="200">
          </a>
          <a href="https://www.pinterest.com/pin/24840235434086277/" data-pin-do="embedPin"></a>
          <a href="https://www.pinterest.com/pin/342414377925331873/" data-pin-do="embedPin"></a>
          <a href="https://www.pinterest.com/pin/3940718413912989/" data-pin-do="embedPin"></a>
          <a href="https://www.pinterest.com/pin/712624341034041100/" data-pin-do="embedPin"></a>
          <a href="https://www.pinterest.com/arqabenedetti/ropa-hombre/"
              data-pin-do="embedBoard"
              data-pin-board-width="1000"
              data-pin-scale-height="320"
              data-pin-scale-width="200">
          </a>
      </div>
    </div>
    
    
    <%- include('../partials/script'); %>
    <%- include('../partials/footer'); %>
    
  </body>
</html>