<script>
  /*
  Nombre del autor: Noemí Pérez Vega
  Objetivo de archivo: Proporcionar la ubicación del usuario
  Fecha y hora: domingo, ‎18‎ de ‎octubre‎ de ‎2020, ‏‎11:18:54 a. m.
  */
</script>
<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">
  <%- include('../partials/head'); %> 
</head>  
	<body>
    <%- include('../partials/navbar'); %>
    <div class="container">
      <h1>Tiendas</h1>
    </div>
    <input type="text" id="autocomplete" class="form-control">
		<div id ="map"> </div> 
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa9mXPgmEQT9Dvoj5rzMR-OGulujNBk7M&libraries=places" ></script>
	
  <%- include('../partials/script'); %>
  <%- include('../partials/footer'); %>
	</body> 
</html>