<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div class="container">
      <div class="card text-center mt-5">
        <div class="card-body">
          <h1><span class="fa fa-lock"></span>Login or Register</h1>
          <a href="/login" class="btn btn-light btn-lg">
            <span class="fa fa-user"></span> local login
          </a>
          <a href="/signup" class="btn btn-light btn-lg">
            <span class="fa fa-user"></span>local Signup
          </a>
        </div>
      </div>
    </div>
    <%- include('partials/script'); %>
    <%- include('partials/footer'); %>
    
  </body>
</html>
