<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div class="container">
      <div class="card text-center mt-5" width="600px">
        <div class="card-body">
          <h1><span class="fa fa-lock"></span>Login or Register</h1>
          <a href="/login" class="btn btn-light btn-lg">
            <span class="fa fa-user"></span> local login
          </a>
          <a href="/signup" class="btn btn-light btn-lg">
            <span class="fa fa-user"></span>local Signup
          </a>
          <h3>O conectate con facebook</h3>
          <div>
            
              <fb:login-button 
                scope="public_profile,email"
                onlogin="checkLoginState();">
              </fb:login-button>
          </div>
        </div>
      </div>
    </div>
    <script>
      var finished_rendering = function() {
        console.log("finished rendering plugins");
        var spinner = document.getElementById("spinner");
        spinner.removeAttribute("style");
        spinner.removeChild(spinner.childNodes[0]);
      }
      FB.Event.subscribe('xfbml.render', finished_rendering);
      </script>
      <div id="spinner"
          style="
              background: #4267b2;
              border-radius: 5px;
              color: white;
              height: 40px;
              text-align: center;
              width: 250px;">
          Loading
          <div
          class="fb-login-button"
          data-max-rows="1"
          data-size="large"
          data-button-type="continue_with"
          data-use-continue-as="true"
          successRedirect="/home"
          ></div>
      </div>
      
    <%- include('partials/script'); %>
    <%- include('partials/footer'); %>
    
  </body>
</html>
